<div class="content" role="main">
    <h1>Experiencia</h1>
    <div class="experiencia">
        <div class="actions">
            <button (click)="openForm('editar')">E</button>
            <div class="form-edit" id="form-edit">
                <form action="">
                    <button type="button" class="close" (click)="closeForm('editar')">X</button>
                    <h2>Experiencia</h2>
                    <textarea name="experiencia" id="experiencia" cols="30"
                        rows="10">Tengo experiencia en el área de soporte técnico al usuario. También eh dado clases particulares a nivel de educación primaria.</textarea>
                    <button class="editar">Editar</button>
                </form>
            </div>
            <!-- <button>B</button> -->
        </div>
        <p> Tengo experiencia en el área de soporte técnico al usuario. También eh dado clases particulares a nivel de
            educación primaria.</p>
    </div>
</div>