@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap");

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 5;
    height: 75px;
    width: 100vw;
}

.menu a {
    padding: 10 15px;
    margin: 10px 15px;
    color: #42053f;
    font-weight: 800;
    font-size: 23px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}