<div class="content" role="main">
    <h1>Skills</h1>
    <div class="skills">
        <div class="skill">
            <p>HTML</p>
            <!-- <div class="actions">
                <button (click)="openForm(0,'editar')">E</button>
                <div class="form form-edit" id="form-edit">
                    <form action="">
                        <button type="button" class="close" (click)="closeForm(0, 'editar')">X</button>
                        <h2>Editar Skill</h2>
                        <label for="skill_0">Titulo</label>
                        <input type="text" name="skill" id="skill_0" value="HTML">
                        <button class="editar">Editar</button>
                    </form>
                </div>
                <button (click)="openForm(0,'borrar')">B</button>
                <div class="form form-delete" id="form-delete">
                    <form action="">
                        <button type="button" class="close" (click)="closeForm(0, 'borrar')">X</button>
                        <h2>Borrar Skill</h2>
                        <p>¿Estás seguro de eliminar esta skill?</p>
                        <button class="borrar">Borrar</button>
                    </form>
                </div>
            </div> -->

        </div>
        <div class="skill">
            <p>CSS</p>
            <!-- <div class="actions">
                <button (click)="openForm(1,'editar')">E</button>
                <div class="form form-edit" id="form-edit">
                    <form action="">
                        <button type="button" class="close" (click)="closeForm(1, 'editar')">X</button>
                        <h2>Editar Skill</h2>
                        <label for="skill_1">Skill</label>
                        <input type="text" name="skill" id="skill_1" value="CSS">
                        <button class="editar">Editar</button>
                    </form>
                </div>
                <button (click)="openForm(1,'borrar')">B</button>
                <div class="form form-delete" id="form-delete">
                    <form action="">
                        <button type="button" class="close" (click)="closeForm(1, 'borrar')">X</button>
                        <h2>Borrar Skill</h2>
                        <p>¿Estás seguro de eliminar esta skill?</p>
                        <button class="borrar">Borrar</button>
                    </form>
                </div>
            </div> -->
        </div>
        <div class="skill">
            <p>JAVASCRIPT</p>
            <!-- <div class="actions">
                <button (click)="openForm(2,'editar')">E</button>
                <div class="form form-edit" id="form-edit">
                    <form action="">
                        <button type="button" class="close" (click)="closeForm(2, 'editar')">X</button>
                        <h2>Editar Skill</h2>
                        <label for="skill_2">Skill</label>
                        <input type="text" name="skill" id="skill_2" value="JAVASCRIPT">
                        <button class="editar">Editar</button>
                    </form>
                </div>
                <button (click)="openForm(2,'borrar')">B</button>
                <div class="form form-delete" id="form-delete">
                    <form action="">
                        <button type="button" class="close" (click)="closeForm(2, 'borrar')">X</button>
                        <h2>Borrar Skill</h2>
                        <p>¿Estás seguro de eliminar esta skill?</p>
                        <button class="borrar">Borrar</button>
                    </form>
                </div>
            </div> -->
        </div>
        <div class="skill">
            <p>ANGULAR</p>
            <!-- <div class="actions">
                <button (click)="openForm(3,'editar')">E</button>
                <div class="form form-edit" id="form-edit">
                    <form action="">
                        <button type="button" class="close" (click)="closeForm(3, 'editar')">X</button>
                        <h2>Editar Skill</h2>
                        <label for="skill_3">Skill</label>
                        <input type="text" name="skill" id="skill_3" value="ANGULAR">
                        <button class="editar">Editar</button>
                    </form>
                </div>
                <button (click)="openForm(3,'borrar')">B</button>
                <div class="form form-delete" id="form-delete">
                    <form action="">
                        <button type="button" class="close" (click)="closeForm(3, 'borrar')">X</button>
                        <h2>Borrar Skill</h2>
                        <p>¿Estás seguro de eliminar esta skill?</p>
                        <button class="borrar">Borrar</button>
                    </form>
                </div>
            </div> -->
        </div>
        <div class="skill">
            <p>JAVA</p>
            <!-- <div class="actions">
                <button (click)="openForm(4,'editar')">E</button>
                <div class="form form-edit" id="form-edit">
                    <form action="">
                        <button type="button" class="close" (click)="closeForm(4, 'editar')">X</button>
                        <h2>Editar Skill</h2>
                        <label for="skill_4">Skill</label>
                        <input type="text" name="skill" id="skill_4" value="JAVA">
                        <button class="editar">Editar</button>
                    </form>
                </div>
                <button (click)="openForm(4,'borrar')">B</button>
                <div class="form form-delete" id="form-delete">
                    <form action="">
                        <button type="button" class="close" (click)="closeForm(4, 'borrar')">X</button>
                        <h2>Borrar Skill</h2>
                        <p>¿Estás seguro de eliminar esta skill?</p>
                        <button class="borrar">Borrar</button>
                    </form>
                </div>
            </div> -->
        </div>
        <div class="skill">
            <p>SPRINT BOOT</p>
            <!-- <div class="actions">
                <button (click)="openForm(5,'editar')">E</button>
                <div class="form form-edit" id="form-edit">
                    <form action="">
                        <button type="button" class="close" (click)="closeForm(5, 'editar')">X</button>
                        <h2>Editar Skill</h2>
                        <label for="skill_5">Skill</label>
                        <input type="text" name="skill" id="skill_5" value="SPRINT BOOT">
                        <button class="editar">Editar</button>
                    </form>
                </div>
                <button (click)="openForm(5,'borrar')">B</button>
                <div class="form form-delete" id="form-delete">
                    <form action="">
                        <button type="button" class="close" (click)="closeForm(5, 'borrar')">X</button>
                        <h2>Borrar Skill</h2>
                        <p>¿Estás seguro de eliminar esta skill?</p>
                        <button class="borrar">Borrar</button>
                    </form>
                </div>
            </div> -->
        </div>


    </div>
</div>