<header>
    <div class="ministerio">
        <img src="../../assets/ministerio.png" alt="Logo Ministerio">
        <img src="../../assets/argentinaprograma.png" alt="">
    </div>
    <div class="redes">
        <a href="https://github.com/venecia27" target="_blank"><img src="../../assets/github.png" alt="Logo Github"></a>
        <a href="#" target="_blank"><img src="../../assets/linkedin.jpg" alt="Logo LinkedIn"></a>
        <a href="#" target="_blank"><img src="../../assets/gmail.png" alt="Logo Gmail"></a>
        <a href="login.html">Login</a>
    </div>
</header>