@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap");

    .content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* top: -10px; */
        font-family: "Open Sans", sans-serif;
        transition: 0.5s all;
    }

    .content h1 {
        font-family: "Open Sans", sans-serif;
        font-size: 50px;
        position: relative;
        top: -60px;
    }

    .content .educacion {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 500px;
        width: 50%;
        background-color: #983f90;
        border-radius: 20px;
        /* color: rgb(245, 28, 210); */
        box-shadow: 9px 9px 0px 0px rgba(245, 28, 210, 0.75);
        -webkit-box-shadow: 9px 9px 0px 0px rgba(245, 28, 210, 0.75);
        -moz-box-shadow: 9px 9px 0px 0px rgba(245, 28, 210, 0.75);
        padding: 20px;
    }

    .content .educacion .actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
    }

    .content .educacion .actions button {
        height: 40px;
        width: 40px;
        background: none;
        border: none;
        outline: none;
    }

    .content .educacion .actions button img {
        height: 40px;
    }

    .content .educacion .actions .btn_eliminar img {
        height: 30px;
    }

    .content .educacion .actions button:hover {
        cursor: pointer;
    }

    .content .educacion .actions .form {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 6;
        height: 0;
        width: 0;
        display: none;
    }

    .content .educacion .actions .form form {
        display: flex;
        flex-direction: column;
        background-color: #d8b5ff;
        /* height: 400px; */
        width: 500px;
        padding: 15px;
    }

    .content .educacion .actions .form form .close {
        align-self: flex-end;
        padding: 5px;
        border: none;
        outline: none;
        background: none;
        color: #42053f;
    }

    .content .educacion .actions .form form h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .content .educacion .actions .form form textarea {
        padding: 5px;
    }

    .content .educacion .actions .form form .editar,
    .content .educacion .actions .form form .borrar {
        height: 40px;
        width: 100px;
        background-color: #42053f;
        box-shadow: 5px 5px 0px 0px rgba(245, 28, 210, 0.75);
        -webkit-box-shadow: 5px 5px 0px 0px rgba(245, 28, 210, 0.75);
        -moz-box-shadow: 5px 5px 0px 0px rgba(245, 28, 210, 0.75);
        color: #983f90;
    }


    .content .educacion .actions .show {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .content .educacion .estudios {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content .educacion .estudios li {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 85%;
        font-family: "Open Sans", sans-serif;
        font-weight: 800;
        font-size: 17px;
        text-align: justify;
        line-height: 40px;
    }