<div class="content" role="main">
    <h1>Educación</h1>
    <div class="educacion">
        <ul class="estudios">
            <li>Universidad de Carabobo. Licenciada en Educación
                Mención Informática. Marzo 2011-Julio 2017
                <!--Forms para editar y borrar-->
                <!--Aca deberia de haber un if que pregunte si el usuario logueado es administrador, de ser asi mostrar los botones.-->
                <!-- <div class="actions">
                    <p></p>
                    <button (click)="openForm(0,'editar')">E</button>
                    <div class="form form-edit" id="form-edit">
                        <form action="">
                            <button type="button" class="close" (click)="closeForm(0, 'editar')">X</button>
                            <h2>Editar Educación</h2>
                            <label for="educacion_0">Titulo</label>
                            <textarea name="educacion" id="educacion_0" cols="30" rows="10">Universidad de Carabobo. Licenciada en Educación
                                Mención Informática. Marzo 2011-Julio 2017</textarea>
                            <button class="editar">Editar</button>
                        </form>
                    </div>
                    <button (click)="openForm(0,'borrar')">B</button>
                    <div class="form form-delete" id="form-delete">
                        <form action="">
                            <button type="button" class="close" (click)="closeForm(0, 'borrar')">X</button>
                            <h2>Borrar Educación</h2>
                            <p>¿Estás seguro de eliminar este item?</p>
                            <button class="borrar">Borrar</button>
                        </form>
                    </div>
                </div> -->
            </li>
            <li>Universidad de Tecnología de Valencia. T.S.U. Informática. Julio 3004-Julio 2008
                <!-- Forms para editar y borrar-->
                <!--Aca deberia de haber un if que pregunte si el usuario logueado es administrador, de ser asi mostrar los botones.-->
                <!-- <div class="actions">
                    <button (click)="openForm(1,'editar')">E</button>
                    <div class="form form-edit" id="form-edit">
                        <form action="">
                            <button type="button" class="close" (click)="closeForm(1, 'editar')">X</button>
                            <h2>Editar Educación</h2>
                            <label for="educacion_1">Titulo</label>
                            <textarea name="educacion" id="educacion_1" cols="30"
                                rows="10">Universidad de Tecnología de Valencia. T.S.U. Informática. Julio 3004-Julio 2008</textarea>
                            <button class="editar">Editar</button>
                        </form>
                    </div>
                    <button (click)="openForm(1,'borrar')">B</button>
                    <div class="form form-delete" id="form-delete">
                        <form action="">
                            <button type="button" class="close" (click)="closeForm(1, 'borrar')">X</button>
                            <h2>Borrar Educación</h2>
                            <p>¿Estás seguro de eliminar este item?</p>
                            <button class="borrar">Borrar</button>
                        </form>
                    </div>
                </div> -->
            </li>
        </ul>
    </div>
</div>
