<form class="login">
    <h1>Login</h1>
    <div class="input">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required />
    </div>
    <div class="input">
        <label for="password">Password</label>
        <input type="password" name="pwd" id="password" required />
    </div>
    <button type="submit">Login</button>
    <div class="cuenta">
        <a href="crearCuenta.html">¿No tienes cuenta? Crear una Cuenta</a>
        <a href="#">¿Olvidaste tú contraseña?</a>
    </div>
</form>