<style>
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sobremi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    position: relative;
    top: 0;
}

.sobremi .info-personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

.sobremi .info-personal img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.sobremi .info-personal h1 {
    font-size: 32px;
    text-align: center;
}

.sobremi .info-personal p {
    font-weight: 600;
    font-size: 21px;
}

.sobremi > img {
    height: 250px;
}

</style>

<app-socials></app-socials>
<div class="content" role="main">
    <div class="sobremi">
      <div class="info-personal">
        <img src="../../assets/perfil.jpg" alt="">
        <div class="descripcion-personal">
          <h1>Yenny Almao</h1>
          <p>Full Stack Developer Jr.</p>
        </div>
      </div>
      <img src="../../assets/banner.jpg" alt="">
    </div>
  </div>

<app-navbar></app-navbar>