<div class="content" role="main">
  <div class="sobremi">
      <div class="info-personal">
          <div class="perfil">
              <button><img src="../../assets/modificar.png" alt=""></button>
              <img src="../../assets/perfil.jpg" alt="">
          </div>
          <div class="descripcion-personal">
              <button><img src="../../assets/modificar.png" alt=""></button>
              <h1>Yenny Almao</h1>
              <p>Full Stack Developer Jr.</p>
          </div>
      </div>
      <div class="banner">
          <div class="buttons">
              <button><img src="../../assets/modificar.png" alt=""></button>
              <button><img src="../../assets/eliminar.png" alt=""></button>
          </div>
          <img src="../../assets/banner.jpg" alt="">
      </div>
  </div>
</div>